<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>若依介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/style.min.css" th:href="@{/css/style.min.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
<div class="row border-bottom white-bg dashboard-header">

    <div style="font-size: 18pt">
        <h1>欢迎登录 奶牛乳房炎自动检测系统！</h1>
        <p>本系统旨在通过计算机视觉与深度学习技术，实现对奶牛乳房健康状况的自动监测与智能分析，提升养殖场对乳房炎的早期检测与科学管理能力。系统包含以下四个关键模块：
            <br/><br/>
            模块1：用户管理<br/>
        <p style="text-indent: 2em;font-size: 18pt">
            提供用户查询、信息修改、用户注册与注销等功能，便于养殖场对操作人员及系统使用情况进行规范管理。</p><br/><br/>
        模块2：数据采集<br/>
        <p style="text-indent: 2em;font-size: 18pt">
            通过连接热像仪，设置相关环境参数，自动采集奶牛热红外视频或图像，并对数据进行规范化存储，确保数据完整性与可追溯性。</p>
        <br/><br/>
        模块3：乳房炎检测<br/>
        <p style="text-indent: 2em;font-size: 18pt">
            包含数据选择与乳房炎检测两大功能。用户可通过数据选择功能从历史记录或实时采集的数据中挑选待分析图像；系统随后利用深度学习模型对选定图像进行分析，提取特征图层，综合判断奶牛乳房健康状况，实现乳房炎的自动检测与分类。</p>
        <br/><br/>
        模块4：信息管理<br/>
        <p style="text-indent: 2em;font-size: 18pt">
            集成检测结果的可视化展示、历史记录查询及健康报告生成功能，助力养殖场对奶牛健康状况进行长期跟踪与科学管理。</p>
        <br/><br/>
        </p>
        <br/>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script type="text/javascript">
    $('#pay-qrcode').click(function () {
        var html = $(this).html();
        parent.layer.open({
            title: false,
            type: 1,
            closeBtn: false,
            shadeClose: true,
            area: ['600px', '360px'],
            content: html
        });
    });
</script>
</body>
</html>
